#set($prefix = $ctx.args.prefix.toLowerCase())
#set($limit = $ctx.args.limit)
#if(!$limit || $limit > 50)
  #set($limit = 50)
#end

{
  "version": "2017-02-28",
  "operation": "Query",
  "index": "GSI1",
  "query": {
    "expression": "GSI1PK = :pk AND begins_with(GSI1SK, :prefix)",
    "expressionValues": {
      ":pk": $util.dynamodb.toDynamoDBJson("TAG_NAME"),
      ":prefix": $util.dynamodb.toDynamoDBJson($prefix)
    }
  },
  "limit": $limit,
  "scanIndexForward": true
}
